@import url('https://fonts.cdnfonts.com/css/gobold');
@import url('https://fonts.cdnfonts.com/css/dm-sans');
a{
    font-family: 'Gobold', sans-serif;
}

h1{
    font-family: 'Gobold', sans-serif;
}
h4{
    font-family: 'Gobold', sans-serif;
}
p{
    font-family: 'DM Sans', sans-serif;
}