@import url('https://fonts.cdnfonts.com/css/gobold');
@import url('https://fonts.cdnfonts.com/css/dm-sans');

body {
    background-color: #ECEAEA;
}

.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
}

a {
    font-family: 'Gobold', sans-serif;
    color: #1c2a3B !important;
}

.logo {
    width: 7rem;
    margin-left: 2.5rem;
}

.navbar-nav {
    margin-right: 25.5rem;
    margin-top: -1rem;
    gap: 8px;
    font-size: 35px;
}

.triangle-left {
    position: absolute;
    margin-top: 20rem;
    border-top: 30rem solid transparent;
    border-right: 150rem solid #f0a53a;
    border-bottom: 0px solid transparent;
    z-index: 1
}

.homepic {
    position: absolute;
    width: 100%;
    margin: 0rem 0rem;
    margin-top: -13.5rem;
    z-index: -2;
}

.frontpagetext {
    font-style:italic;
    position: absolute;
    margin-left: 63rem;
    margin-top: -13rem;
    width: 60rem;
    font-size: 65px;
    text-align: center;
    color:white;

    transform:rotate(-12deg)
}






h1,
h2,
h4 {
    font-family: 'Gobold', sans-serif;
}

p {
    font-family: 'DM Sans', sans-serif;
}