body {
    font-size: 25px;
}

h1 {
    font-size: 2em;
}

.active,
nav-link {
    color: #f0a53a !important;
}

.overFitPhone {
    width: 77%;
    height: 100%;
    height: 55rem;
    padding-top: 10rem;
    margin-bottom: 5rem;
}

.subtekst {
    width: 60% !important;
    font-size: 19px;
}

.StudentAlign {
    background-color: #1c2a3b;
    color: white;
    font-size: 24px;
    height: 60rem;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem !important;
}

.OverStudentStyle {
    width: 84%;
    padding-top: 10rem;
}

.OverStudentStyle p {
    width: 50%;
}

.OverStudentStyle :lang(sub) {
    width: 100%;
}



@media screen and (max-width: 650px) {
    body {
        font-size: 12px !important;
    }

    .container {
        margin: 0rem 0rem;
        border: solid rgb(255, 0, 0) 1px;
        width: 100% !important;
    }
}



@media screen and (max-width: 1280px) {
    body {
        font-size: 17px;
    }

    .container {
        margin: 0rem 0rem;
        border: solid rgb(255, 0, 0) 1px;
        width: 100% !important;
    }
}