@import url('https://fonts.cdnfonts.com/css/dm-sans');
@import url('https://fonts.cdnfonts.com/css/gobold');

h1,
h2,
h4,
a {
    font-family: 'Gobold', sans-serif;
}

body {
    font-size: 22px;
}

h1 {
    font-size: 2em;
    color: white;
}

h3 {
    color: #ECEAEA;
    margin-bottom: 5%;
    margin-top: 5%;
}

.active,
nav-link {
    color: #f0a53a !important;
}

.smartphoneTips {
    background-color: #1c2a3b;
    height: 100%;
}

p {
    font-family: 'DM Sans', sans-serif;
    color: #ECEAEA;
}

.smartphoneGebruik{
padding-top:5%;
}

.drieTips {
    color: #f0a53a;
    font-style:bolder;
    width:25%;
    padding-top:2%;
}

.tips {
    width: 90%;
}

.rowMeldingen{
    padding-bottom:5%;
}